<html>
<head>
    <link rel="stylesheet" href="/public/stylesheets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://cdn.socket.io/socket.io-1.2.1.js"></script>
    <script src="/public/stylesheets/dist/js/bootstrap.min.js"></script>
    <script src="/public/js/lib/jquery.simplemodal.1.4.4.min.js"></script>
    <script src="/public/js/src/chat.js"></script>
</head>
<body>
 <div id="username-dialog" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">What is your name?</h4>
      </div>
      <div class ="form-group">
        <input type="text" id="username-input" class="form-control"></input>
        </div>
      <div class="modal-footer">
        <button type="button" onclick="submitUsername()" class="btn btn-primary" > Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<div class="container fixed">
    <!--not sure if there's any need for a menu bar, could easily become a tab bar for the chats accessible-->
    <div id="menus">
        <ul class="nav nav-tabs">
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
        </ul>
    </div>
    <div id="main" class="container">
        <div class="row">
            <div id="roleHolder" class="col-xs-3 container-fluid">
                <div id="roleName" class="row col-lg-12">
                    <h3>Temp Name</h3>
                </div>
                <div id="roleImage" class="row col-lg-12">
                    <!--img src="" class="img-rounded img-responsive" alt=""-->
                    role image goes here
                </div>
                <div id="roleExplanation" class="row col-lg-12">
                    <p>
                        role explanation here
                    </p>
                </div>
            </div>
            <div id="chatHolder" class="col-xs-6 container">
                <div class="chat row"></div>
                <div class="row">
                    <form class="textEntry">
                        <input class="col-xs-9" type="text" autocomplete="off" id="message">
                        <button type="submit" class="col-xs-3 btn">Send</button>
                    </form>
                </div>
            </div>
            <div id="users" class="col-xs-3">
                <table id="userTable" class="table table-hover table-condensed">
                    <div id="#messages"> </div>
                    <thead>
                        <tr>
                            <th>Player Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John Doe</td>
                            <td>Alive</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
