<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>
<body>
<div id="menus">
</div>
<div id="tabs">
</div>
<div id="chatHolder">
    <div class="chat"></div>
    <form class="textEntry">
        <input class="message" type="text" autocomplete="off">
        <button type="submit">Send</button>
    </form>
</div>
<div id="users">
</div>
</body>
</html>