<html>
<head>
    <link rel="stylesheet" href="/public/stylesheets/dist/css/bootstrap.min.css">
    <script src="/public/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="/public/js/lib/underscore/underscore-min.js"></script>
    <script src="/public/js/lib/socketio-client/socket.io.js"></script>
    <script src="/public/stylesheets/dist/js/bootstrap.min.js"></script>
</head>
<body>
<form method="post" class="roleSelection" action="/moderator">
    <ul id="roleDistribution">
        <% for (role in roles) {%>
        <li>  <%= role %>:<input type="number" name="<%= role %>" min="0" value="0"/> </li>
        <%}%>
    </ul>
    <input type="submit" value="Create Game"/>
</form>
</body>
