<html>
<head>
    <link rel="stylesheet" href="/stylesheets/dist/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<form action="start_game.js">
    <ul>
        <% for (role in roles) {%>
        <li>  <%= role %>:<input type="number" name="quantity<%= role %>" min="0" value="0"/> </li>
        <%}%>
    </ul>
    <input type="submit" value="Create Game"/>
</form>
</body>
