<html>
<head>
    <link rel="stylesheet" href="/public/stylesheets/dist/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<form method="post" class="roleSelection" action="/moderator">
    <ul id="roleDistribution">
        <% for (role in roles) {%>
        <li>  <%= role %>:<input type="number" name="<%= role %>" min="0" value="0"/> </li>
        <%}%>
    </ul>
    <input type="submit" value="Create Game"/>
</form>
</body>
